{% extends "bootstrap/base.html" %}

{% block title %}站网运维平台{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for dev_type in dev_type_list %}
                    <!-- {{ dev_type[0] }}下拉菜单 -->
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                           {{ dev_type[0] }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        {% for func in dev_type[1:] %}
                            <li><a href="#">{{ func }}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}